@{
    Layout = "";
}
@model Nop.Plugin.Payments.YunShanFu.Models.ConfigurationModel
@using Nop.Web.Framework;

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                没有设置
            </div>
        </div>
    </div>
}